<menu-sidebar-left></menu-sidebar-left>
<div class="landing full-height" flex layout-fill layout="column" ng-cloak>
    <md-content flex>
        <header class="header" role="banner">
            <figure class="hero">
                <img src="images/hero-donar.jpg" alt="donar">
                <figcaption>Foto: Luis Arango</figcaption>
            </figure>
            <div class="header-container">
                <h1>Paso 1  <i class="fa fa-heart"></i></h1>
            </div>
        </header>

        <div front-menu active="deliver"></div>
        <div class="main-container" role="main">
            <div partial-loading></div>
            <div flex layout="column" ng-show="F.user && volunteer.provider == 'twitter' && volunteer.registeredTovolunteer">
                <h3 ng-show="!volunteer.active">Tu cuenta de voluntario aún no ha sido activada</h3>
                <p ng-show="!volunteer.active">Te contactaremos cuando esté activada, o puedes agilizar el proceso contactando a admin@mail.org o al tel: 555-555-555</p>
                <!-- Cuando el voluntario esta activo y aun no selecciona donación -->
                <div ng-show='volunteer.active && !selectedDonation && !volunteer.selectedDonation' layout='column'>
                    <h4>Elige un punto para ir por una donación</h4>
                    <!-- <ng-map id="map" zoom="14">
                        <marker
                            id="myPosition"
                            position="current"
                            animation="Animation.BOUNCE"
                            centered="true"></marker>
                        <marker 
                            on-click="selectDonation(donation, $index)" 
                            ng-repeat="donation in nearestDonations track by donation.$id"
                            id="marker-donation-{{donation.$id}}" 
                            position="[{{donation.latitude}}, {{donation.longitude}}]"></marker>
                    </ng-map> -->
                    <div id="map" class="map" flex layout-fill></div>
                </div>
                <!-- Cuando el voluntario ya selecciono una donación -->
                <div ng-if='volunteer.active && selectedDonation && selectedDonation.status == "recogiendo"'>
                    <h4>Elegiste la donación de: {{selectedDonation.name}}</h4>
                    <p>
                        Categoría: {{selectedDonation.categoryOfDonations}} <br>
                        Palabra secreta: {{selectedDonation.secretPassword}} <br>
                        Peso y tamaño de donación: {{selectedDonation.sizeOfBag}} <br>
                        Horario de disponibilidad: {{selectedDonation.deliverSchedule}}
                        Esta en: {{selectedDonation.address}} <br>
                        Otras formas de contactarte con el donador:  <br>
                        <span ng-show="selectedDonation.email">email: {{selectedDonation.email}} <br></span>
                        <span ng-show="selectedDonation.twitter">twitter: {{selectedDonation.twitter}} <br></span>
                        <span ng-show="selectedDonation.phone">tel: {{selectedDonation.phone}} <br></span>
                    </p>
                    <ng-map id="direccionADonacion" zoom="14">
                        <directions
                            draggable="false"
                            travel-mode="BICYCLING"
                            origin="current-location"
                            destination="[{{selectedDonation.latitude}}, {{selectedDonation.longitude}}]"></directions>
                    </ng-map>
                    <div layout="row" class="md-padding">
                        <div flex>
                            <md-button class="md-warn" ng-click="cancelPickup()">Cancelar</md-button>
                        </div>
                        <div flex>
                            <md-button class="md-primary" ng-click="pickupDonation()">Recogido</md-button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Si está logeado como admin -->
            <div flex layout="column" ng-show="F.user && F.user.providerData[0].providerId !== 'twitter.com'">
                <h3>Usted es administrador</h3>
                <br><br>
                <md-button ui-sref="admin.volunteers">Ver voluntarios</md-button>
            </div>
        </div>

        <br>
        <foot-page></foot-page>
    </md-content>
</div>
