<menu-sidebar-left></menu-sidebar-left>
<div layout="column" flex ng-cloak>
    <md-toolbar layout="row" id="subHeader" layout-padding>
        <md-button ng-click="toggleLeft()" class="md-icon-button" hide-gt-sm aria-label="Settings" ng-disabled="false">
            <md-icon style="color: white" aria-label="hey" class="material-icons step">menu</md-icon>
        </md-button>
        <div flex><h4>Acopio en Bici - Entregar (en bici)</h4></div>
        <div hide-sm hide-xs menu-links></div>
    </md-toolbar>
    <md-content flex layout="column" class="md-padding">
        <md-toolbar class="md-padding" style="background: rgba(0,0,0,0.7);">
            Llenar formulario para donar
        </md-toolbar>
        <form name="deliverForm" novalidate class="md-padding">
            <md-input-container class="md-block" flex>
                <label>Nombre</label>
                <input name="name" type="text" ng-model="deliver.name" required />
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Capacidad de carga en mochila estándar aproximadas</label>
                <input name="capacity" type="text" ng-model="deliver.capacity" required />
            </md-input-container>
            <br>
            <div layour="row">
                <div flex></div>
                <md-button ng-disabled="deliverForm.$invalid" class="md-primary md-fab" ng-click="save()">
                    <md-icon>save</md-icon>
                </md-button>
            </div>
        </form>
    </md-content>
</div>