<menu-sidebar-left></menu-sidebar-left>
<div layout="column" flex ng-cloak>
    <md-toolbar layout="row" id="subHeader" layout-padding>
        <md-button ng-click="toggleLeft()" class="md-icon-button" hide-gt-sm aria-label="Settings" ng-disabled="false">
            <md-icon style="color: white" aria-label="hey" class="material-icons step">menu</md-icon>
        </md-button>
        <div flex><h4>Acopio en Bici - Registrarme</h4></div>
        <div hide-sm hide-xs menu-links></div>
    </md-toolbar>
    <md-content flex layout="column" class="md-padding">
        <!-- Si esta logeado con twitter y no se ha registrado -->
        <div flex layout="column" ng-show="F.user && volunteer.provider == 'twitter' && !volunteer.registeredTovolunteer">
            <md-toolbar class="md-padding" style="background: rgba(0,0,0,0.7);">
                Hola {{F.user.displayName}} favor de llenar el formulario
            </md-toolbar>
            <form name="volunteerForm" novalidate class="md-padding">
                <md-input-container class="md-block" flex>
                    <label>Nombre</label>
                    <input name="name" type="text" ng-model="volunteer.name" required />
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Capacidad de carga en mochila que puedes llevar</label>
                    <input name="capacity" type="text" ng-model="volunteer.capacity" required />
                </md-input-container>
                <br>
                <div layour="row">
                    <div flex></div>
                    <md-button ng-disabled="volunteerForm.$invalid" class="md-primary md-fab" ng-click="save()">
                        <md-icon>save</md-icon>
                    </md-button>
                </div>
            </form>
        </div>
        <!-- Si no esta logeado -->
        <div flex layout="column" ng-show="!F.user">
            <md-button class="md-primary twitterButton" ng-click="loginWithTwitter()">
                Continuar con Twitter
                <md-icon>twitter-box</md-icon>
            </md-button>
        </div>
        <!-- Si está logeado con twitter y ya se registro -->
        <div flex layout="column" ng-show="F.user && volunteer.provider == 'twitter' && volunteer.registeredTovolunteer">
            <h3>Gracias! Ya estás registrado como voluntario</h3>
            <h5 ng-show="!volunteer.active">tu cuenta no ha sido activada</h4>
            <h5 ng-show="volunteer.active">y tu cuenta ya fue activada</h4>
            <!-- Cuendo el voluntario esta activo y aun no selecciona donación -->
            <div ng-if='volunteer.active && !selectedDonation'>
                <h4>Elige un punto para ir por una donación</h4>
                <ng-map id="map" zoom="14">
                    <marker 
                        id="myPosition"
                        position="current" 
                        animation="Animation.BOUNCE" 
                        centered="true"></marker>
                    <marker 
                        on-click="selectPoint(point, $index)" 
                        ng-repeat="point in nearestDonations track by point.$id"
                        id="marker-{{point.$id}}" 
                        position="[{{point.latitude}}, {{point.longitude}}]"></marker>
                </ng-map>
            </div>
            <!-- Cuando el voluntario ya selecciono una donación -->
            <div ng-if='volunteer.active && selectedDonation && !selectedDonation.pickedUp'>
                <h4>Elegiste la donación de {{selectedDonation.name}}</h4>
                <p>Esta en: {{selectedDonation.addresss}}</p>
                <ng-map zoom="14">
                    <directions
                        draggable="false"
                        travel-mode="BICYCLING"
                        origin="current-location"
                        destination="[{{selectedDonation.latitude}}, {{selectedDonation.longitude}}]"></directions>
                </ng-map>
                <div layout="row" class="md-padding">
                    <div flex>
                        <md-button class="md-warn" ng-click="cancelPickup()">Cancelar</md-button>
                    </div>
                    <div flex>
                        <md-button class="md-primary" ng-click="pickupDonation()">Recoger</md-button>
                    </div>
                </div>
            </div>
            <!-- Cuando el voluntario ya recogió la donación y va a seleccionar el centro de acopio -->
            <div ng-if='volunteer.active && selectedDonation && selectedDonation.pickedUp && !selectedCenter'>
                <h4>Elige un centro de acopio para entregar la donación</h4>
                <!-- <map-near-points on-point-select='selectedCenter' points="centersAvailable" distance="distanceForCenters"></map-near-points> -->
                <ng-map zoom="14">
                    <marker centered="true" position="current-location" draggable="true"></marker>
                    <kml-layer url="./centros_de_acopio.kml"></kml-layer>
                </ng-map>
            </div>
            <!-- Cuando el voluntario ya selecciono el centro de acopio al cual entregar  -->
            <div ng-if='volunteer.active && selectedDonation && selectedDonation.pickedUp && selectedCenter'>
                <ng-map zoom="14">
                    <directions
                        draggable="false"
                        travel-mode="BICYCLING"
                        origin="current-location"
                        destination="[{{selectedCenter.latitude}}, {{selectedCenter.longitude}}]"></directions>
                </ng-map>
                <div layout="row" class="md-padding">
                    <div flex>
                        <md-button class="md-primary" ng-click="deliverDonation()">Entregar</md-button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Si está logeado como admin -->
        <div flex layout="column" ng-show="F.user && volunteer.provider !== 'twitter'">
            <h3>Usted es administrador</h3>
            <br><br>
            <md-button ui-sref="admin.volunteers">Ver voluntarios</md-button>
        </div>
    </md-content>
</div>
