@import 'toasts.scss';
@import 'animations.scss';
@import 'angular-material-extend.scss';

$blue: rgba(0, 43, 139, 1);
$lightBlue: rgba(34,151,216,1);
$yellow: rgba(246,255,0,1);
$mainFont: 'Reem Kufi', sans-serif;
$purple: rgba(83,109,254,0.87);

.purpleC {
    color: $purple;
}

.overflowHidden {
    overflow: hidden;
}

.bolder {
    font-weight: 900;
}

.box {
    max-height: 350px;
    min-height: 300px;
}

.lgBox {
    min-height: 710px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.contained {
    object-fit: contain;
}

.h100 {
    height: 100px;
}

.centered {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.marginRight {
    margin-right: 50px;
}

.align-right {
    text-align: right;
    float: right;
}

.c-right {
    object-position: right;
}

.thumbnail {
    height: 200px;
    img.pull-right {
        width: 50px;
    }
}

.mini-thumbnail {
    width: 60px;
    height: 60px;
}

.blueB {
    background-color: $blue;
    color: white;
}

.skipMenu {
    padding-top: 64px;
}

#footer {
    background: rgba(0,0,0,0.7);
}

#loginPanel {
    background: lightgray;
}

.footNote {
    font-size: 0.65em;
}

.logo {
    font-family: $mainFont;
    font-size: 20px;
    font-weight: 800;
    
}

img.logo {
    height: 50px;
    width: 50px;
}

#mainMenu {
    font-family: $mainFont;
    background-color: rgba(0, 43, 139, 0.81);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.noMargin {
    margin: 0;
}

.niceForm {
    background: whitesmoke;
    input, textarea, select, md-list-item {
        width: 100%;
        min-width: 300px;
    }
}

// splash

[ng-cloak].splash {
    display: block !important;
}
.splash {
    display: none;
}
.splash {
    background: $blue;
    height: 100%;
    width: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    img {
        margin: 20% auto;
        display: block;
    }
}

#subHeader {
    font-family: $mainFont;
    max-height: 70px;
    h4 {
        margin: 0;
    }
}

.mdBox {
    min-height: 400px !important;
}

md-checkbox {
    .md-container {
        left: auto; 
        right: 0px;
    }
}

md-list-item.disabled {
    background: rgba(0,0,0,0.2);
}

.twitterButton {
    background: #3CACE0;
    span, md-icon {
        color: white !important;
    }
}

.transparent {
    background-color: transparent !important;
}

.btn {
    cursor: pointer;
}