md-toast.success {
    .md-toast-content {
        background-color: green;
        color: white;
    }
}

md-toast.error {
    .md-toast-content {
        background-color: red;
        color: white;
    }
}