<nav class="nav" role="menubar">
    <a class="logo">
            <img src="images/acopioenbici-logo.svg" alt="Acopio en Bici">
        </a>
    <ul>
        <li><a ui-sref="home">Inicio</a></li>
        <li ng-class="{'active': active == 'donate'}"><a>Quiero Donar</a></li>
        <li ng-class="{'active': active == 'deliver'}"><a ui-sref="deliver">Quiero Entregar</a></li>
        <li><a target="_blanc" href=""><i class="fa fa-twitter-square"></i></a></li>
        <li><a target="_blanc" href=""><i class="fa fa-facebook-square"></i></a></li>
    </ul>
    <a hide-gt-xs class="nav-trigger active" ng-click="triggerMenu()">
        <md-icon id="menu" class="material-icons">menu</md-icon>
        <md-icon id="close" class="material-icons">close</md-icon>
    </a>
</nav>