<!-- Admin links -->
<md-button class="md-primary" ng-click="close()" ui-sref="home">Inicio</md-button>
<md-button class="md-primary" ng-click="close()" ui-sref="donate">Donar</md-button>
<md-button class="md-primary" ng-click="close()" ui-sref="deliver">Entregar</md-button>
<!-- <md-button ng-if="F.user" class="md-primary" ng-click="close()" ui-sref="admin.cruds">Cruds</md-button> -->
<md-button ng-if="F.user" class="md-primary" ng-click="close()" ui-sref="admin.donations">Donaciones</md-button>
<md-button ng-if="F.user" class="md-primary" ng-click="close()" ui-sref="admin.delivers">Voluntarios</md-button>
<md-button ng-if="F.user" ui-sref="admin.logout" ng-click="close()" class="md-warn md-hue-1">Logout</md-button>