<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
    <md-toolbar class="md-primary md-hue-2 md-tall">
        <div class="md-toolbar-tools">
            <span flex><h3>Menu</h3></span>
            <md-button ng-click="close()" aria-label="Close">
                <md-icon aria-label="Cerrar Menu" class="material-icons bolder">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding menu-links layout="column">
    </md-content>
</md-sidenav>