<div layout="row">
    <div flex class="overflowHidden">
        <md-input-container md-no-float layout-fill ng-init="search = ''">
            <md-icon for="#search" class="material-icons bolder" ng-show="search == ''" class="md-avatar md-margin">search</md-icon>
            <input id="search" ng-keyup="($event.keyCode == 27) ? search = '' : return" type="text" ng-model="search" placeholder="Buscar">
            <md-icon class="material-icons bolder" ng-show="search !== ''" class="md-avatar md-margin" ng-click="search = ''">
                close
            </md-icon>
        </md-input-container>
    </div>
</div>